{% block content %}
	<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="Landingpages by Marketing-In-One">
		<meta name="author" content="treaction AG">

		<title>Landingpages by Marketing-In-One | treaction AG</title>

		<!-- FAVICON -->
		<link rel="shortcut icon" type="image/x-icon" href="favicon/favicon.ico">
		<link rel="icon" type="image/png" href="favicon/cio-favicon_32px.png" sizes="32x32">
		<link rel="icon" type="image/png" href="favicon/cio-favicon_96px.png" sizes="96x96">

		<!-- STYLES -->
		<link href="styles/bootstrap/css/bootstrap.min.css" rel="stylesheet">

		<!-- OWL CAROUSEL -->
		<link href="styles/css/owl.carousel.css" rel="stylesheet"> <!-- TODO: replace by bootstrap functionality -->
		<link href="styles/css/owl.carousel.min.css" rel="stylesheet"> <!-- TODO: replace by bootstrap functionality -->
		<link href="styles/css/owl.theme.default.min.css" rel="stylesheet"> <!-- TODO: replace by bootstrap functionality -->
		<link href="styles/css/style.css" rel="stylesheet">
		<!-- FONTS -->
		<!--
		<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
			  rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
			  rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700;900&display=swap"
			  rel="stylesheet">
		-->
		<link href="styles/fontawesome/css/all.css" rel="stylesheet"> <!-- TODO:ask Sven to provide only packed set of used icon along with correponding css -->



		<!-- JAVASCRIPT -->
		<script src="vendor/jquery/jquery.min.js"></script>
		<script src="vendor/owl/owl.carousel.js"></script> <!-- TODO: replace by bootstrap functionality -->
		<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
		<script type="text/javascript" src="vendor/jquery/jquery.session.js"></script> <!-- TODO: not used remove -->
		<script src="vendor/jquery-cookie-master/src/jquery.cookie.js"></script> <!-- TODO: not used remove -->


		<!-- tracking and treaction scripts-->
		<script class="tracking" type="text/javascript" src="tracking/tracking.js"></script>
		<script type="module" src="script/treaction_script.js"></script>
		<noscript class="tracking" id="fbUrl"></noscript>
		<noscript class="tracking" id="MatomoPixel"></noscript>


	</head>
	<body>


	<div id="form"></div>
	<div id="success"></div>
	<div id="error"></div>


	<template id="form_template">
		<div id="settings" data-json="{{ campaignSettings }}"></div>
		<!-- DESKTOP HEADER -->
		<header class="header-treaction">
			<nav class="navbar navbar-treaction" style="height: 20% !important;">
				<div class="container">
					<a class="navbar-brand" href="#" target="_blank">
						<img src="img/treaction-logo-white.png" class="logo" alt="logo-treaction">
					</a>
					<div class="mobile-hidden">
						<form class="form-inline">
							<a href="#" class="navbar-daten">
								<i class="fas fa-paper-plane"></i>&nbsp;&nbsp;&nbsp; client-success@treaction.net
							</a>
							<a href="#" class="navbar-daten">
								<i class="fas fa-phone"></i>&nbsp;&nbsp;&nbsp;+49 (0)561 997923-60
							</a>
							<a href="#" class="navbar-daten">
								<i class="fab fa-whatsapp"></i>&nbsp;&nbsp;&nbsp;+49 (170)2098375
							</a>
						</form>
					</div>
				</div>
			</nav>
			<div class="container" style="height: 80% !important;">
				<div class="row h-100">
					<div class="col-md-12 col-lg-7 my-auto mobile-padding">
						<h1 class="treaction-title">Die Pages von Marketing-In-One</h1>
						<h3 class="treaction-subtitle">Raketenschnell & Conversionstark</h3>
						<a href="#" target="_blank">
							<button class="btn header-btn" type="button">JETZT DURCHSTARTEN &nbsp;<i
										class="fal fa-chevron-right header-btn-icon"></i>
							</button>
						</a>
					</div>
					<div class="col-md-12 col-lg-5 mobile-hidden">
						<img class="" src="img/rakete-short.png" alt="rakete"
							 style="position: absolute; bottom: 0px; height: 100%;">
					</div>
				</div>
			</div>
		</header>


		<!-- SECTION THEMEN -->
		<section class="themen">

			<div class="container">

				<div class="mobile-hidden">
					<div class="row">
						<div class="col text-center">
							<i class="fal fa-rocket-launch themen-icon"></i>
							<h5 class="themen-icon-title">Raketenschnell</h5>
						</div>
						<div class="col text-center">
							<i class="fal fa-bullseye-pointer themen-icon"></i>
							<h5 class="themen-icon-title">Conversionstark</h5>
						</div>
						<div class="col text-center">
							<i class="fal fa-phone-laptop themen-icon"></i>
							<h5 class="themen-icon-title">Responsives Design</h5>
						</div>
						<div class="col text-center mobile-hidden">
							<i class="fal fa-shield-check themen-icon"></i>
							<h5 class="themen-icon-title">DSGVO-konform</h5>
						</div>
						<div class="col text-center mobile-hidden">
							<i class="fal fa-stars themen-icon"></i>
							<h5 class="themen-icon-title">Best Practices</h5>
						</div>
					</div>
				</div>

				<div class="desktop-hidden">
					<div class="row" style="padding-bottom: 10px;">
						<div class="text-center" style="width: 50%; padding-left: 25px; padding-right: 10px;">
							<i class="fal fa-rocket-launch themen-icon"></i>
							<h5 class="themen-icon-title">Raketenschnell</h5>
						</div>
						<div class="text-center" style="width: 50%; padding-left: 10px; padding-right: 25px;">
							<i class="fal fa-bullseye-pointer themen-icon"></i>
							<h5 class="themen-icon-title">Conversionstark</h5>
						</div>
						<div class="text-center"
							 style="width: 50%; padding-left: 25px; padding-right: 10px; margin-top: 30px;">
							<i class="fal fa-phone-laptop themen-icon"></i>
							<h5 class="themen-icon-title">Responsives Design</h5>
						</div>
						<div class="text-center"
							 style="width: 50%; padding-left: 10px; padding-right: 25px; margin-top: 30px;">
							<i class="fal fa-shield-check themen-icon"></i>
							<h5 class="themen-icon-title">DSGVO-konform</h5>
						</div>
					</div>
				</div>

				<div class="row" style="margin-top: 30px;">
					<div class="col-sm-12 text-alignment mobile-padding">
						<p class="condensed">Die Landingpages von Marketing-In-One sind stets raketenschnell und
							conversionstark. Weit hinten, hinter den Wortbergen, fern der Länder Vokalien und Konsonantien
							leben die Blindtexte. Abgeschieden wohnen sie in Buchstabhausen an der Küste des Semantik, eines
							großen Sprachozeans. Ein kleines Bächlein namens Duden fließt durch ihren Ort und versorgt sie
							mit den nötigen Regelialien.</p>
					</div>
					<div class="col-sm-12 text-alignment mobile-padding">
						<a href="#" target="_blank">
							<button class="btn treaction-btn" type="button" style="margin-top: 20px;">JETZT DURCHSTARTEN
								&nbsp;<i class="fal fa-chevron-right treaction-btn-icon"></i>
							</button>
						</a>
					</div>
				</div>

			</div>

		</section>

		<!-- SECTION FORMULAR -->
		<section class="formular pageSectionStyle">
			<div class="container pageContainerStyle">
				<div class="row">
					<div class="col-sm-12 text-alignment mobile-padding">
						<h2 class="treaction-green">Jetzt Daten eintragen und mit den Webpage-In-One Landingpages
							durchstarten!</h2>
					</div>
				</div>
				<div class="row" style="margin-top: 40px;">
					<div class="col-md-12 col-lg-6 mobile-padding" style="padding-top: 4px;">

						<form id="api-data-form" enctype="multipart/form-data" action="" method="post"
							  accept-charset="utf-8"
							  class="pageFormStyle form-horizontal check-submit-form" role="form">

							<div id='marketingInOneForm'>
								<div id="generatedForm">
									<!-- @CUSTOMER: to add the new fields or remove use page wizard in Marketing-in-one.net  -->
									<!-- @CUSTOMER: to show labels for input fields, simply uncomment labels -->
									<!-- @CUSTOMER: to reorder input fields move complete blocks <div class="form-row"> ...
									 </div>  within <div id='marketingInOneForm'> ... </div> -->
									{% if mapping is defined %}
										{% for mappingField in mapping %}
											{% set fieldName = mappingField | keys | first %}
											{% if fieldName == 'salutation' %}

												<div class="form-row"><!-- BEGIN {{ fieldName }} -->
													<div class="form-group col-md-12">
														<div style="width:100%;" marketingInOneField="salutation"
															 class="btn-group btn-group-toggle"
															 data-toggle="buttons">
															<label style="cursor:pointer; width:100%; font-family: 'Titillium Web',
										 sans-serif !important; font-weight: 300 !important; font-size: 1.1rem !important;"
																   class="btn btn-outline-light">
																<input id="frau" class="sr-only salutation_event"
																	   style="color:#fff; ;background:transparent;" value="Frau"
																	   type="radio" name="salutation" id="option1"
																	   autocomplete="off" required>
																Frau
															</label>
															<label style="cursor:pointer; width:100%; font-family: 'Titillium Web', sans-serif !important; font-weight: 300 !important; font-size: 1.1rem !important;"
																   class="btn btn-outline-light">
																<input id="herr" class="sr-only salutation_event"
																	   style=" color:#fff; ;background:transparent;"
																	   value="Herr" type="radio" name="salutation`" id="option2"
																	   autocomplete="off" required>
																Herr
															</label>
														</div>
													</div>
												</div><!-- END {{ fieldName }} -->

											{% else %}

												<div class="form-row"><!-- BEGIN {{ fieldName }} -->
													<div class="form-group col-md-12">

														{# TODO: this a hardcoded translation of standard fields (bad !!!), which must be replaced later by "symfony/translation" (see: https://symfony.com/doc/current/translation.html) concepts plus perhaps doctrine/translatable (see: https://github.com/doctrine-extensions/DoctrineExtensions/blob/main/doc/translatable.md) #}
														{% if fieldName == 'email' %}
															{% set placeholder = 'E-Mail Adresse' %}
														{% elseif fieldName == 'first_name' %}
															{% set placeholder = 'Vorname' %}
														{% elseif fieldName == 'last_name' %}
															{% set placeholder = 'Nachname' %}
														{% elseif fieldName == 'firma' %}
															{% set placeholder = 'Firma' %}
														{% elseif fieldName == 'street' %}
															{% set placeholder = 'Straße' %}
														{% elseif fieldName == 'postal_code' %}
															{% set placeholder = 'Postleitzahl' %}
														{% elseif fieldName == 'city' %}
															{% set placeholder = 'Stadt' %}
														{% elseif fieldName == 'country' %}
															{% set placeholder = 'Land' %}
														{% elseif fieldName == 'phone' %}
															{% set placeholder = 'Telefonnummer' %}
														{% elseif fieldName == 'url' %}
															{% set placeholder = 'URL' %}
														{% else %}
															{% set placeholder = fieldName %}
														{% endif %}
														{% set label = '<label for="' ~ fieldName ~ '" style="color: white">' ~ placeholder ~ ':</label>' %}

														<!-- {{ label | raw }} -->
														<input style="color:#000; background:#FFF;"
															   class="btn-outline-light input-fields form-control"
															   id="{{ fieldName }}"
															   type="{{ mappingField.datatype|lower }}"
															   name=Contact."{{ fieldName }}"
															   placeholder="{{ placeholder }}"
															   data-marketingInOneField="{{ fieldName }}"
															   value="">

													</div>
												</div><!-- END {{ fieldName }} -->

											{% endif %}
										{% endfor %}
									{% endif %}

									<!-- @CUSTOMER: add own, not in marketing-in-one configured, input fields / select boxes / check boxes / radio buttons or buttons here -->

								</div>
							</div>

							<div class="card"
								 style="margin-bottom:15px; background-color: #FFF !important; border: 1px #000 solid !important;">
								<div class="card-header">
									<label class="form-group checkbox container-treaction"
										   style="margin-bottom: 3px; color:#000; ">
										<input type="checkbox" required>

										<small>&nbsp;&nbsp;Ich erkläre mich mit den
											<a href="#">AGB</a>
											und
											<a href="#">Datenschutzbestimmungen</a>
											der treaction AG, Kurfürstenstr. 1, 34117 Kassel, einverstanden. Ich bin
											einverstanden, dass die treaction AG meine eingetragenen Daten nutzt und mir
											E-Mails zuschickt bzw. mich anruft, um mir Angebote/Beratung zu den Bereichen
											Lead-Generierung, Marketing-Automation oder E-Mail-Marketing zukommen zu lassen.
											Diese Einwilligung kann ich jederzeit widerrufen, etwa durch einen Brief an die
											oben genannte Adresse oder durch eine E-Mail an
											<a
													href="mailto:widerruf@treaction.net">widerruf@treaction.net
											</a>
											.
											Anschließend wird jede werbliche Nutzung unterbleiben.
										</small>
									</label>
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-sm-12" id="buttons">
									<button class="btn treaction-btn-form formButton" id="Submit" workflowId=""
											type="submit" style="margin-top: 5px; width: 100%">Jetzt Angebot anfordern
										&nbsp;<i class="fal fa-chevron-right treaction-btn-form-icon"></i>
									</button>
								</div>
							</div>
						</form>
					</div>
					<div class="col-md-12 col-lg-6 mobile-hidden" style="padding-left: 35px;">
						<h4 class="mehrwerte-headline">Was für eine Zusammenarbeit mit uns spricht:</h4>
						<ul class="fa-ul mehrwerte-liste">
							<li>
                              <span class="fa-li">
                                  <i class="fal fa-user-headset mehrwerte-icon"></i>
                              </span>
								<h5 class="mehrwerte">&nbsp;&nbsp;schneller & einfacher Support</h5>
							</li>
							<li>
                              <span class="fa-li">
                                  <i class="fal fa-analytics mehrwerte-icon"></i>
                              </span>
								<h5 class="mehrwerte">&nbsp;&nbsp;ausführliche Trackings & Analysen</h5>
							</li>
							<li>
                              <span class="fa-li">
                                  <i class="fal fa-street-view mehrwerte-icon"></i>
                              </span>
								<h5 class="mehrwerte">&nbsp;&nbsp;kundenorientiertes Arbeiten</h5>
							</li>
							<li>
                              <span class="fa-li">
                                  <i class="fal fa-turtle mehrwerte-icon"></i>
                              </span>
								<h5 class="mehrwerte">&nbsp;&nbsp;langjährige Online-Marketing-Erfahrung</h5>
							</li>
							<li>
                              <span class="fa-li">
                                  <i class="fal fa-server mehrwerte-icon"></i>
                              </span>
								<h5 class="mehrwerte">&nbsp;&nbsp;zuverlässiges Hosting</h5>
							</li>
						</ul>
						<p class="condensed" style="color: #FFF; font-size: 18px; margin-top: 25px;"></p>
					</div>
				</div>
			</div>
		</section>


		<!-- SECTION TESTIMONIALS -->
		<!-- @CUSTOMER: remove this section, if necessary -->
		<section class="testimonials">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 text-alignment mobile-padding">
						<h2 class="hs-green">Das sagen unsere Kunden über unseren Service</h2>
					</div>
				</div>
				<div class="row">
					<div class="owl-carousel owl-theme" style="margin-top: 20px;">
						<div class="item">
							<div class="col h-100 mobile-padding">
								<div class="zitat-bg h-100">
									<p class="testimonial-zitat">Wir bei Zahnheld haben eine Lösung gesucht, um unser
										Newsletter-Marketing weiter auszubauen und zu professionalisieren. Nachdem wir uns
										den Wettbewerb angesehen haben, sind wir begeistert von dem Team der treaction AG.
										Die erstklassige Betreuung sowie schnelle, professionelle und unkomplizierte
										Unterstützung der Mitarbeiter sucht am Markt seinesgleichen. Wir sind sehr zufrieden
										und werden die Zusammenarbeit weiter intensivieren!</p>
									<p class="testimonial-name">Thilo Gemmer, Geschäftsführer bei Zahnheld UG</p>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="col h-100 mobile-padding">
								<div class="zitat-bg h-100">
									<p class="testimonial-zitat">Ich arbeite seit einiger Zeit mit treaction im Thema E-Mail
										Marketing zusammen. Das Team hat für uns den gesamten Kanal aufgebaut, wodurch wir
										es geschafft haben, den Shop-Umsatz deutlich zu erhöhen. Durch zielgerichtete
										Newsletter und Marketing-Automations schaffen wir es, unsere Kunden mit passgenauen,
										individuellen Angeboten zu bespielen, was neben dem Umsatz auch die
										Kundenzufriedenheit erhöht. Das Team von erfahrenen Experten hilft uns bei allen
										Problemen. Die schnelle Reaktion und gute Verfügbarkeit ist ein großer Vorteil. Ich
										bin mit der Zusammenarbeit sehr zufrieden und freue mich auf die nächste Zeit.</p>
									<p class="testimonial-name">Rigo Scheibe, Geschäftsführer GM24.info</p>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="col h-100 mobile-padding">
								<div class="zitat-bg h-100">
									<p class="testimonial-zitat">Im Bereich E-Mail Marketing arbeiten wir mit unserem
										Projekt Shopping Guru mit der treaction zusammen. Für den Shopping Guru war die
										treaction die fehlende Zutat zu unserem Erfolg in diesem Bereich.
										Wir profitieren sehr vom tiefen Know How bei allen Fragen rund ums E-Mail-Marketing.
										Von der Zustellbarkeit bis zum Datenmanagement haben wir nun endlich einen sauber
										funktionierenden Prozess, den wir nicht mehr missen möchten. Zudem sind wir
										begeistert von der Kreativität der Templates, die die treaction uns regelmäßig zur
										Verfügung stellt.
										Es ist ein tolles, motiviertes Team, welches für Rückfragen und Anregungen immer
										offen ist und wo es Spaß macht in Dialog zu treten.
										Wir freuen uns auf die weitere Zusammenarbeit!</p>
									<p class="testimonial-name">Samira Ben Ali, Projektmanagerin E-Mail Marketing bei
										Shopping-Guru GmbH</p>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="col h-100 mobile-padding">
								<div class="zitat-bg h-100">
									<p class="testimonial-zitat">Wir arbeiten mit treaction bereits schon längere Zeit
										zusammen. Zum einen hat das Team unser E-Mail-Marketing aufgebaut, sodass wir
										mittlerweile konstante Umsätze über diesen Kanal generieren können. Besonders
										hervorzuheben ist dabei, die Unterstützung der Mitarbeiter bei inhaltlichen oder
										technischen Fragen. Es wird einem schnell und unkompliziert geholfen.
										Seit einiger Zeit arbeiten wir mit treaction auch im Bereich SEO zusammen. Insb. vor
										den Herausforderungen in unserer recht wettbewerbsintensiven Branche fühlen wir uns
										auch sehr gut betreut, die Arbeitsweise ist transparent und auch hier ist das Team
										jederzeit erreichbar und für uns da. Wir freuen uns auf die weitere
										Zusammenarbeit!</p>
									<p class="testimonial-name">Thorsten Nöhren, Online Marketing Specialist bei Schönherr
										GmbH</p>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="col h-100 mobile-padding">
								<div class="zitat-bg h-100">
									<p class="testimonial-zitat">Ich arbeite seit Jahren mit treaction in diversen Projekten
										zusammen. Für mich sind sie die absoluten Top-Profis für E-Mail-Marketing. Beratung,
										Technologie und Service kommt alles aus einer Hand. Beim Rabatt-Riesen gab es einige
										Besonderheiten wie regelmäßige, dynamische Gutschein-Mailings oder die Trusted
										Dialog Zertifizierung zu lösen. Es lief einfach reibungslos ab. Ich freue mich auf
										das nächste Projekt mit ihnen.</p>
									<p class="testimonial-name">Florian Ganz, Geschäftsführer Rabatt-Riese UG</p>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="col h-100 mobile-padding">
								<div class="zitat-bg h-100">
									<p class="testimonial-zitat">treaction hat uns beim Aufbau des Portals kleine Macher -
										einem Portal für Spielzeuge mit ihrem SEO Wissen unterstützt. Sie haben für uns die
										komplette SEO Strategie erarbeitet. Die Umsetzung lief ebenfalls völlig reibungslos
										dank eines guten Projektmanagements. Man merkt die Erfahrungen aus vielen
										Projekten.</p>
									<p class="testimonial-name">Nadya Regammi, Geschäftsführerin Justus Merx GmbH</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 text-center mobile-padding">
						<a href="#" target="_blank">
							<button class="btn treaction-btn" type="button" style="margin-top: 20px;">JETZT DURCHSTARTEN
								&nbsp;<i class="fal fa-chevron-right treaction-btn-icon"></i>
							</button>
						</a>
					</div>
				</div>
			</div>
		</section>


		<!-- FOOTER -->
		<footer id="treaction-footer">
			<!-- Desktop -->
			<div class="container mobile-hidden">
				<div class="row">
					<div class="col-md-12 col-lg-8 footer-linkbereich">
						<a class="footer-link" href="#" target="_blank">Impressum</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
						<a class="footer-link" href="#" target="_blank">Datenschutz</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
						<a class="footer-link" href="#" target="_blank">treaction.net</a>
					</div>
					<div class="col-md-12 col-lg-4 footer-iconbereich">
						<a href="#" target="_blank">
							<i class="fab fa-facebook-square footer-icon"></i>
						</a>&nbsp;&nbsp;
						<a href="#" target="_blank">
							<i class="fab fa-xing-square footer-icon"></i>
						</a>&nbsp;&nbsp;
						<a href="#" target="_blank">
							<i class="fab fa-linkedin footer-icon"></i>
						</a>&nbsp;&nbsp;
						<a href="#" target="_blank">
							<i class="fab fa-twitter-square footer-icon"></i>
						</a>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<p class="copyright">© 2020 treaction AG</p>
					</div>
				</div>
			</div>
			<!-- Mobile -->
			<div class="container desktop-hidden">
				<div class="row">
					<div class="col-sm-12 footer-linkbereich-mobile">
						<a class="footer-link" href="#" target="_blank">Impressum</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
						<a class="footer-link" href="#" target="_blank">Datenschutz</a>
					</div>
					<div class="col-sm-12">
						<p class="copyright-mobile">© 2020 treaction AG</p>
					</div>
					<div class="col-sm-12 footer-iconbereich-mobile">
						<a href="#" target="_blank">
							<i class="fab fa-facebook-square footer-icon"></i>
						</a>&nbsp;&nbsp;&nbsp;
						<a href="#" target="_blank">
							<i class="fab fa-xing-square footer-icon"></i>
						</a>&nbsp;&nbsp;&nbsp;
						<a href="#" target="_blank">
							<i class="fab fa-linkedin footer-icon"></i>
						</a>&nbsp;&nbsp;&nbsp;
						<a href="#" target="_blank">
							<i class="fab fa-twitter-square footer-icon"></i>
						</a>
					</div>
				</div>
			</div>
		</footer>

		<!-- START Bootstrap-Cookie-Alert -->
		<!-- @CUSTOMER: configure link for Datenschutzerklärung (privacy policy) in marketing-in-one.net > General Configurations >  Account setting > Field 'URL Privacy Policy' -->
		<!-- @CUSTOMER: configure link for Impressum (imprint) in marketing-in-one.net > General Configurations >  Account setting > Field 'URL Imprint' -->
		<div class="alert cookiealert" id="cookieConsent" role="alert" style="position: sticky !important">
			<div class="row">
				<div class="col-lg-9">
					{% if urlPrivacyPolicy is defined and (urlPrivacyPolicy|length >0) %}
						{% set urlPP = urlPrivacyPolicy %}
					{% else %}
						{% set urlPP = '#' %}
					{% endif %}
					<span class="cookie-text">Wir verwenden Cookies und ähnliche Tools, um das Nutzererlebnis zu optimieren. Bei Ablehnung, werden nur die technisch notwendigen Cookies gesetzt. Weitere Informationen sind in der <a href="{{ urlPP }}" target="_blank">Datenschutzerklärung</a>.</span>
				</div>
				<div class="btn-wrapper col-lg-3 text-center">
					<button type="button" id="cookieConsentOK" class="shadow-none btn btn-primary cookie-btn-accept ">
						Akzeptieren
					</button>
					<button type="button" id="cookieConsentNo" class="shadow-none btn btn-outline-secondary cookie-btn-dismiss">
						Ablehnen
					</button>
				</div>
			</div>
		</div>
		<!-- END Bootstrap-Cookie-Alert -->

		<!-- TECHNICAL STUFF -->
		<script type="text/javascript">
            $(window).scroll(function () {
                var scroll = $(window).scrollTop();

                if (scroll >= 48) {
                    $("div#e-mail-sticky").addClass("e-mail-scroll");
                    $("div#telefon-sticky").addClass("telefon-scroll");
                } else {
                    $("div#e-mail-sticky").removeClass("e-mail-scroll");
                    $("div#telefon-sticky").removeClass("telefon-scroll");
                }
            });

            $(document).ready(function () {
                $('.owl-carousel').owlCarousel({
                    loop: true,
                    margin: 0,
                    autoplay: true,
                    autoplayTimeout: 10000,
                    autoplayHoverPause: true,
                    autoplaySpeed: 1000,
                    dots: true,
                    responsive: {
                        0: {
                            items: 1
                        },
                        600: {
                            items: 2
                        },
                        1000: {
                            items: 2
                        }
                    }
                })

                $('#next-slide').click(function () {
                    $('.owl-carousel').trigger('next.owl.carousel');
                });

                $('#prev-slide').click(function () {
                    $('.owl-carousel').trigger('prev.owl.carousel');
                });

                // @CUSTOMER: add own javascript code here
            });
		</script>

	</template>


	<script>

        $('#form_template').contents().appendTo('#form');

        $(document).ready(function () {
            if (treactionCookieExists()) {
                $('div#cookieConsent.alert.cookiealert').css('display', 'none');
                $('div#cookieConsent.alert.cookiealert').attr('style', 'display: none !important');
                manageTracking();
            }
        });

	</script>
	</body>

	</html>

{% endblock %}